.vscode/settings.json
.ipynb_checkpoints/read_csv_v0.1-checkpoint.ipynb
.ipynb_checkpoints/read_csv-checkpoint.ipynb
*.csv
*.png
*.json
glove.model
*.txt
*.bin
*.gz
*.pyc
app.log
glove.6B/6B.100_idx.pkl
glove.6B/6B.100_words.pkl
glove.6B/6B.100.dat/__attrs__
*.blp
glove.6B/6B.100.dat/meta/sizes
glove.6B/6B.100.dat/meta/storage
.ipynb_checkpoints/other_embeddings-checkpoint.ipynb
*.pyc

